:root {
  /* Primary Colors */

  --soft-blue: hsl(216, 31%, 67%); /* body font color #91a6c5 */
  --cyan: hsl(178, 100%, 50%); /* active font color */
  --rose: hsl(340, 84%, 61%); /* nft rose #ef4a82 */

  /* Neutral Colors */

  --main-bg-blue: hsl(217, 54%, 11%); /* (main BG #0d192b) */
  --card-bg-blue: hsl(216, 50%, 16%); /* (card BG #14253d) */
  --card-line-blue: hsl(215, 32%, 27%); /* (line color #2f415b) */
  --white: 0, 0%, 100%;

  /* Font  */
  --ff-primary: "Outfit", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;

  --fs-300: 0.77rem; /* 12px */
  --fs-400: 1rem; /* 15px */
  --fs-500: 1.125rem; /* 18px */
  --fs-600: 1.38rem; /* 22px */
}

/* Box sizing rules */
*,
*::before,
*::after,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  line-height: 1;
}

/* FLEBOX LAYOUT */

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-block: 3.85rem 0;

  background: var(--main-bg-blue);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 800 450' opacity='1'%3E%3Cdefs%3E%3Cfilter id='bbblurry-filter' x='-100%25' y='-100%25' width='400%25' height='400%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='78' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' edgeMode='none' result='blur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23bbblurry-filter)'%3E%3Cellipse rx='77.5' ry='78.5' cx='303.4040222167969' cy='192.33349054509944' fill='hsl(340, 84%25, 61%25)'%3E%3C/ellipse%3E%3Cellipse rx='77.5' ry='78.5' cx='485.85559359463775' cy='215.60903930664062' fill='hsl(178, 100%25, 50%25)'%3E%3C/ellipse%3E%3Cellipse rx='77.5' ry='78.5' cx='390.009970925071' cy='370.7302495783026' fill='%23004a83ff'%3E%3C/ellipse%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;

  color: var(--soft-blue);

  font-family: var(--ff-primary);
  font-size: var(--fs-400);
}

/* NFT CARD */

.nft-card {
  background: var(--card-bg-blue);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 28px 32px 16px;
  border-radius: 0.85rem;
  width: 20.4rem;
  min-height: 37.25rem;
  padding: 1.5rem;
}

/* NFT IMAGE */

.nft-card__image {
  background: var(--cyan);
  border-radius: 0.5rem;
  cursor: pointer;

  overflow: hidden;
  position: relative;
}

.nft--image {
  width: 100%;
  transition: 0.1s ease;
}

.nft--overlay {
  transition: 0.1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.nft-card__image:hover .nft--image {
  opacity: 0.3;
  transform: scale(1.3);
}

.nft-card__image:hover .nft--overlay {
  opacity: 1;
}

/* NFT TEXT CONTAINER */

.nft-card__text_container {
  margin: 0.65rem 0 0;
}

.nft-card__text_container h1 {
  line-height: 3rem;
}

.nft-card__text_container h1 > a {
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
  text-decoration: none;
  color: hsl(var(--white));
}

.nft-card__text_container h1 > a:hover {
  color: var(--cyan);
}

.nft-card__text_container > p {
  font-size: var(--fs-500);
  font-weight: var(--fw-300);
  transform: scale(1, 1.055);
  line-height: 1.4;
  letter-spacing: 0.002rem;
  padding: 0.42rem 1rem 0 0;
}

.nft-card__block {
  display: flex;
  justify-content: space-between;
  margin: 1.55rem 0.15rem 1.25rem 0;
  letter-spacing: 0.01rem;
}

.curr--price {
  display: inline-flex;
  align-items: center;
  gap: 0.43rem;
  font-weight: var(--fw-600);
  line-height: 1.3;
  color: var(--cyan);
}

.days--left {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 0.45rem;
  font-size: 98%;
  line-height: 1.2;
}

/* NFT USER */

.nft-card__user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid var(--card-line-blue);

  margin: 1.45rem 0 0;
  padding: 1rem 0 0;
}

.nft-card__user p {
  line-height: 1.7;
  letter-spacing: 0.019rem;
  font-size: 97.8%;
}

.nft-card__user img {
  width: 2.08rem;
  border: 0.1rem solid hsl(var(--white), 0.9);
  aspect-ratio: 1 / 0.98;
  border-radius: 50%;
}

.nft-card__user a {
  color: hsl(var(--white), 0.8);
  text-decoration: none;
}

.nft-card__user a:hover {
  color: var(--cyan);
}

/* DESKTOP SCREEN */

@media screen and (min-width: 38em) {
  body {
    justify-content: center;
    padding-block: 3.65rem 0rem;
  }
  .nft-card {
    width: 21.875rem;
  }
}

/* FOOTER */

.footer-attribution {
  font-size: 11px;
  text-align: center;
  margin-block: 3rem 0;
  color: hsl(var(--white), 0.7);
}
.footer-attribution a {
  color: hsl(var(--white), 0.7);
}
